
table.acuity {
	border-collapse: collapse;
	border: none;
	font: normal 1em helvetica, verdana, arial, sans-serif;
	background-image: url(table-acuity/bg_acuity.gif); 
	background-repeat: repeat;
	border-spacing: 1px;
	width: 100%;
	margin-bottom: 10px;
}
table.acuity caption {
  text-align: left;
  font: normal 1em helvetica, verdana, arial,  sans-serif;
  background: transparent;
  }
table.acuity td, th {
  border: none;
  padding: .8em;
  color: #aaa;
  }

table.acuity .hostname {
  font-size: 1.6em;
  font-family: Helvetica, Arial, sans-serif;
}

table.acuity .red {
  background-image: url(table-acuity/bg_acuity_red.gif);
  color: #ccc;
  border: 1px solid #222;
}

table.acuity .yellow {
  background-image: url(table-acuity/bg_acuity_yellow.gif);
  color: #ccc;
  border: 1px solid #222;
}

table.acuity .green {
  background-image: url(table-acuity/bg_acuity_green.gif);
  color: #ccc;
  border: 1px solid #222;
}

table.acuity thead th, tfoot th {
  font: bold 1em helvetica, verdana, arial, sans-serif;
  border: none;
  text-align: left;
  background: #000000;
  color: #00bb0C;
  padding-top:4px;
  }
table.acuity tbody td a {
  background: transparent;
  text-decoration: none;
  color: #9F9F9F;
  }
table.acuity tbody td a:hover {
  background: transparent;
  color: #00FF0C;
  }
table.acuity tbody th a {
  font: bold 1em helvetica, verdana, arial, sans-serif;
  background: transparent;
  text-decoration: none;
  font-weight:normal;
  color: #9F9F9F;
  }
  
  
table.acuity tbody td+td+td+td a {
    padding-right: 14px;
    background: url(table-acuity/arrow.gif) transparent no-repeat bottom right;
    }
    tbody td+td+td+td a:hover {
        padding-right: 14px;
    background: url(table-acuity/arrow.gif) transparent no-repeat bottom right;
    }
table.acuity tbody th a:hover {
  background: transparent;
  color: #00FF0C;
  }
table.acuity tbody th, tbody td {
  vertical-align: top;
  text-align: left;
  }

table.acuity .odd {
  background: #000000;
  }
table.acuity tbody tr:hover {
  background: #0E0E0E;
  }
table.acuity tbody tr:hover th,
table.acuity tbody tr.odd:hover th {
  background: #0E0E0E;
  }
